<div [@routerTransition]>

    <nav class="row no-gutters">
        <div class="col textnowrap">
            <h1 mb-1 mt-1>{{entityType | translate}}</h1>
        </div>
        <div>
            <button type="button " class="btn btn-primary btn-circle btn-xl fa fa-search " (click)="packageCtrl.clearMsg(true);" *ngIf="package.show_filter === false" ngbTooltip="{{ 'Filter' | translate}}" container="body" placement="left"></button>
            <button type="button " class="btn btn-primary btn-circle btn-xl fa fa-pencil " (click)="packageCtrl.onNew()" *ngIf="package.show_filter !== false && package.canExecuteNew" ngbTooltip="{{ 'Compose' | translate}}" container="body" placement="left"></button>
        </div>
    </nav>
    <hr class="mb-2 mt-1">

    <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="(package.entity_status_msg + package.error_msg).length > 0" [ngClass]="{'alert-success':(package.entity_status_msg.length > 0), 'alert-danger':(package.error_msg.length > 0)}">
        <button type="button" class="close" aria-label="Close" (click)="packageCtrl.clearMsg()">
      <span aria-hidden="true">&times;</span>
    </button>
        <strong>{{package.entity_status_msg + package.error_msg}}</strong>
    </div>


    <div class="row no-gutters">
        <div class="col">
            <form-filter [package]="package" [packageCtrl]="packageCtrl" *ngIf="package.show_filter"></form-filter>
        </div>
    </div>

    <div class="row no-gutters" *ngIf="package.show_filter===false">
        <div class="col">
            <form-editor [package]="package " [packageCtrl]="packageCtrl" *ngIf="package.show_filter===false"></form-editor>
        </div>
    </div>


</div>