<div class="login-page" [@routerTransition]>
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <img src="assets/images/logo.png" width="150px" class="user-avatar" />
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <h1>Notebook</h1>
    </div>
  </div>

  <br>
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <input type="text" [(ngModel)]="domain" name="txtDomain" class="form-control input-underline input-lg"
        placeholder="domain" autocomplete="on">
    </div>
  </div>
<br>
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <div ngbDropdown>
        <button class="btn btn-block btn-dark btn-sm" id="dropdownBasic1" ngbDropdownToggle>
          <i class="fa fa-language"></i> {{ 'LBL.LANGUAGE' | translate }} : {{language}} <b class="caret"></b>
        </button>
        
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu">
          <button class="dropdown-item" (click)="setLang('en')">{{'LBL.ENGLISH' | translate}}</button>
          <button class="dropdown-item" (click)="setLang('ro')">{{'LBL.ROMANIAN' | translate}}</button>
        </div>
      </div>
    </div>
    

  </div>

  <br>
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <a (click)="signInWithGoogle()" style="cursor: pointer;">
        <img src="assets/images/google_login.png" style="max-width: 100%" />
      </a> &nbsp;
      <br>
      <br>

      <label *ngIf="userSession.Username">{{'LBL.USER_LOGGED' | translate}}:
        {{userSession.DomainName}}/{{userSession.Username}}</label>
      <br>
      <a *ngIf="userSession.Username" (click)="continueWithUser()" style="cursor: pointer;"><u>{{'LBL.CONT_USER_LOGGED' | translate}}</u></a>

    </div>
  </div>

</div>
