<div [@routerTransition]>
    <div class="form-group row">
        <div class="col-md-2">
            <button class="btn btn-outline-primary" (click)="onCreateSheets()">Create sheets...</button>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-2">
            <button class="btn btn-outline-primary" (click)="onEnrollingUser()">Enroll user...</button>

        </div>
        <div class="col-md-2">
            <input class="form-control" type="text" [(ngModel)]="enrolledUser">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-2">
            <button class="btn btn-outline-primary" (click)="onDeleteMetadata()">Delete metadata...</button>

        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12">
            <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="response !== null" [ngClass]="alert-danger">
                <button type="button" class="close" aria-label="Close" (click)="response=null">
          <span aria-hidden="true">&times;</span>
        </button>
                <strong>{{response}}</strong>
            </div>

        </div>

    </div>
</div>