<div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Cancel')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body" #rootdiv class="hosttable container-fluid" (window:resize)="onResize($event)">

    <p>
        <ngb-progressbar type="info" value="50" striped="true" animated="true" *ngIf="package.lookup_rows === undefined"></ngb-progressbar>
    </p>

    <div class="row">
        <div class="col-10">
            <div class="input-group">
                <select class="form-control" [(ngModel)]="selectedFilterCond" (onchange)="onChangedFilterCond()">
          <option [ngValue]="null" selected>Select field</option>
          <option *ngFor="let p of getLookupProperties()" [ngValue]="p">{{p.propName}}</option>

        </select>
                <input type="text" class="form-control " placeholder="Value" [readonly]="!selectedFilterCond" [(ngModel)]="filterConditionValue" (keyup)="onFilterValueChanged($event)" />

            </div>

        </div>
        <div class="col">
            <button type="button" (click)="onApply()" [class]="'btn btn-secondary fa fa-filter'"></button>
        </div>

    </div>
    <BR>
    <div class="row">
        <div class="col">
            <table class="table table-hover table-striped table-md">
                <thead #tableheader class="thead-light">
                    <tr>
                        <th *ngFor="let property of getLookupProperties()">{{property.propName}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of packageCtrl.package.lookup_rows; index as i" (click)="packageCtrl.onSelectLookup(lookupSource, lookupSourceProperty, row, lookupTargetProperty); activeModal.close('Close');">
                        <td *ngFor="let property of getLookupProperties()">
                            <div *ngIf="checkSize()" [ngClass]="{tdlabel: checkSize()}">{{property.propName}}:</div>
                            <div [ngSwitch]="packageCtrl.getInputType(property)" [ngClass]="{tdcontent: checkSize()}">
                                <div class="input-group" *ngSwitchCase="'date'">{{row[property.propName] | datefrm}}</div>
                                <div class="input-group" *ngSwitchDefault>{{row[property.propName]}}</div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-11">
        </div>
        <div class="col">
            <button type="button" class="btn btn-link" *ngIf="packageCtrl.package.lookup_rows.length !== 0 && !packageCtrl.package.lookup_fetch_completed" (click)="onScroll()"><i>load more...</i></button>
        </div>
    </div>

</div>

<div class="modal-footer">

    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close')">Close</button>
</div>
<div>
    <ngx-loading [show]="package.lookup_loading"></ngx-loading>
</div>