<div class="hosttable">
    <div class="modal-header">
        <h4 class="modal-title">{{'select' | translate}}:{{lookupEntityName | translate}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Cancel')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body select-entity" #rootdiv (window:resize)="onResize($event)">
        <div class="row no-gutters" #dfilter>
            <div class="col-9 col-sm-8 col-md-4 col-lg-3 order-md-1 m-1">
                <select class="form-control" [(ngModel)]="selectedFilterCond" (onchange)="onChangedFilterCond()">
                <option [ngValue]="null" selected>{{'Select field' | translate}}</option>
                <option *ngFor="let p of getLookupProperties()" [ngValue]="p">{{lookupEntityName + '.' + p.propName |
                  translate}}</option>
              </select>
            </div>
            <div class="col-9 col-sm-8 col-md-4 col-lg-3 order-md-1 m-1">
                <input type="text" class="form-control " placeholder="{{'Value' | translate}}" [readonly]="!selectedFilterCond" [(ngModel)]="filterConditionValue" (keyup)="onFilterValueChanged($event)" />
            </div>

            <div class="col-auto order-md-2 m-1">
                <button type="button" (click)="onApply()" [class]="'btn btn-secondary fa fa-filter'" ngbTooltip="{{'Apply_filter' | translate}}"></button>
            </div>

        </div>
        <hr class="mb-2 mt-1">
        <div class="no-gutters">
            <div class="textnowrap" #htable>
                <table class="table table-hover table-striped table-md" style="overflow-y: auto" [style.height.px]="this.tableHeight" #ltable infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" [scrollWindow]="false" (scrolled)="onScroll()">
                    <thead class="thead-light">
                        <tr>
                            <th *ngFor="let property of getLookupProperties()">{{lookupEntityName + '.' + property.propName | translate}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr #dtablerow>
                            <td *ngFor="let property of getLookupProperties()">
                                <div class="tdlabel textnowrap">{{property.propName.toUpperCase()}}</div>
                                <div class="tdcontent">
                                    <div>{{property.propName.toUpperCase()}}</div>
                                </div>
                            </td>
                        </tr>

                        <tr #tablerow *ngFor="let row of packageCtrl.package.lookup_rows; index as i" (click)="packageCtrl.onSelectLookup(lookupSource, lookupSourceProperty, row, lookupTargetProperty); activeModal.close('Cancel');">
                            <td *ngFor="let property of getLookupProperties()">
                                <div *ngIf="this.isSmallSizeScreen" class="textnowrap" [ngClass]="{tdlabel: this.isSmallSizeScreen}">{{lookupEntityName + '.' + property.propName | translate}}</div>
                                <div [ngSwitch]="packageCtrl.getInputType(property)" [ngClass]="{tdcontent: this.isSmallSizeScreen}">
                                    <div *ngSwitchCase="'date'">{{row[property.propName] | datefrm}}</div>
                                    <div *ngSwitchDefault>{{row[property.propName]}}</div>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<div>
    <ngx-loading [show]="package.lookup_loading"></ngx-loading>
</div>