<div [@routerTransition]>
    <div class="row no-gutters">
        <div class="col">
            <button *ngFor="let command of packageCtrl.editorCommands" type="button" ngbTooltip="{{command.caption | translate}}" (click)="packageCtrl[command.handler]()" [class]="'btn btn-secondary  m-1 '  + command.image"></button>
        </div>
    </div>

    <hr class="mb-2 mt-1">
    <div class="row no-gutters">

        <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12">

            <div *ngFor="let property of (package.entity.properties)">
                <div class="form-group row no-gutters" *ngIf="packageCtrl.isVisible(property, undefined)">

                    <label class="col-sm-4 col-form-label" *ngIf="property.lookup_entity_name === undefined">{{packageCtrl.entityType.toLowerCase() + '.' + property.propName | translate}}</label>
                    <label class="col-sm-4 col-form-label label-link" ngbTooltip="{{'LBL.CLICK_TO_SELECT' | translate}}..." *ngIf="property.lookup_entity_name !== undefined" (click)=" packageCtrl.openLookupWnd(package.entity, property)"><u>{{packageCtrl.entityType.toLowerCase() + '.' + property.propName | translate}}</u>
          </label>

                    <div class="col-sm-8" [ngSwitch]="packageCtrl.getInputType(property)">
                        <div class="input-group datepicker-input" *ngSwitchCase="'date'">
                            <input class="form-control" [readonly]="property.isReadOnly" ngbDatepicker placeholder="dd/mm/yyyy" name="dp" [(ngModel)]="package.entity[property.propName]" [disabled]="packageCtrl.isDisabled(package.entity, property)" #d="ngbDatepicker" placement="top">

                            <button class="input-group-addon" (click)="d.toggle()" type="button">
                <span class="fa fa-calendar"></span>
              </button>

                        </div>
                        <div class="input-group" *ngSwitchCase="'checkbox'">
                            <input class="form-control" [disabled]="packageCtrl.isDisabled(package.entity, property)" type="checkbox" [checked]="package.entity[property.propName]" (change)="package.entity[property.propName] = !package.entity[property.propName]; packageCtrl.onEditorValueChanged(package.entity, property)">
                        </div>

                        <div class="input-group" *ngSwitchCase="'multichecklist'">
                            <angular4-multiselect style="width: 100%;" [data]="property.dropdownlist" [(ngModel)]="package.entity[property.propName]" [settings]="property.dropdownsettings">
                                <c-item>
                                    <ng-template let-item="item">
                                        <label style="margin: 0px; text-align: right">{{item.itemName | translate}}</label>
                                    </ng-template>
                                </c-item>
                                <c-badge>
                                    <ng-template let-item="item">
                                        <label style="margin: 0px;">{{item.itemName | translate}}</label>
                                    </ng-template>
                                </c-badge>
                            </angular4-multiselect>
                        </div>
                        <div class="input-group" *ngSwitchDefault>
                            <input class="form-control" [readonly]="property.isReadOnly" [disabled]="packageCtrl.isDisabled(package.entity, property)" [type]="packageCtrl.getInputType(property)" [(ngModel)]="package.entity[property.propName]" (keyup)="packageCtrl.onEditorValueChanged(package.entity, property)"
                                (focusout)="packageCtrl.onEditorFocusChanged(package.entity, property)" (blur)="packageCtrl.onEditorValueChanged(package.entity, property) ">

                            <input class="form-control" [(ngModel)]="package.entity[property.lookup_entity_name+'_lookup_entity'][property.lookup_properties[1]]" disabled="true" type="text" *ngIf="package.entity[property.lookup_entity_name+'_lookup_entity'] && property.lookup_entity_name !== undefined">

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <div *ngFor="let relation of (packageCtrl.entityInfo.relations)">
        <form-editor-relation [package]="package" *ngIf="!packageCtrl.shellInfo.pivotInfo" [packageCtrl]="packageCtrl" [relation]="relation"></form-editor-relation>

        <form-editor-pivot-relation *ngIf="packageCtrl.shellInfo.pivotInfo" [package]="package" [packageCtrl]="packageCtrl" [relation]="relation" [list]="package.entity[relation + '_relation']" [needRefresh]="package.entity.propChanged">

        </form-editor-pivot-relation>
    </div>




</div>