<div [@routerTransition]>
    <h2 class="text-muted">{{packageCtrl.entityType}}</h2>

    <div class="form-group row">
        <div class="col-md-12">
            <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="(package.entity_status_msg + package.error_msg).length > 0" [ngClass]="{'alert-success':(package.entity_status_msg.length > 0), 'alert-danger':(package.error_msg.length > 0)}">
                <button type="button" class="close" aria-label="Close" (click)="packageCtrl.clearMsg()">
                          <span aria-hidden="true">&times;</span>
                </button>
                <strong>{{package.entity_status_msg + package.error_msg}}</strong>
            </div>


        </div>
    </div>

    <div class="row" *ngIf="package.show_filter">
        <div class="col-md-12">
            <form-filter [package]="package" [packageCtrl]="packageCtrl"></form-filter>
        </div>
    </div>
    <div class="row" *ngIf="package.show_filter===false">
        <div class="col-md-12 ">
            <button type="button " class="btn btn-link " (click)="packageCtrl.clearMsg(true)">Filter</button>
        </div>
        <div class="col-md-12 ">
            <form-editor [package]="package" [packageCtrl]="packageCtrl"></form-editor>
        </div>
    </div>

</div>