<div [@routerTransition]>

    <div class="row top-buffer">
        <div class="col col-xl-12 col-lg-12">
            <h5>{{relation}}</h5>
            <table class="table table-hover table-striped table-responsive table-bordered">

                <thead>
                    <tr>
                        <th scope="col">
                            <button class="btn btn-secondary" (click)="packageCtrl.onCreateEntityByRelation(relation)">+</button>
                        </th>
                        <th scope="col" *ngFor=" let property of packageCtrl.getRelationProperties(relation)">{{property.propName}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of package.entity[relation+ '_relation'] ">
                        <th scope="row">
                            <button type="button" class="btn btn-secondary " (click)="packageCtrl.onEditEntityByRelation(row, relation) ">=</button>
                            <button type="button" class="btn btn-secondary " (click)="packageCtrl.onDeleteEntityByRelation(row, relation) ">-</button>
                        </th>
                        <td *ngFor="let property of packageCtrl.getRelationProperties(relation) ">{{row[property.propName]}}</td>
                    </tr>
                </tbody>
            </table>
            <label *ngIf="package.entity[relation+ '_relation'] && package.entity[relation+ '_relation'].length===0">(none)</label>
        </div>
    </div>

</div>