<div [@routerTransition] #rootdiv class="hosttable container-fluid" (window:resize)="onResize($event)">

    <div class="row">
        <div class="col-6 col-lg-4">
            <div class="input-group">
                <select class="form-control" [(ngModel)]="selectedFilterCond">
          <option [ngValue]="null" selected>Select field</option>
          <option *ngFor="let p of packageCtrl.filterProperties" [ngValue]="p">{{p.property.propName}}</option>
          <option *ngFor="let p of packageCtrl.getRelationFilterProperties()" [ngValue]="p">{{p.entityName}}-{{p.property.propName}}</option>
        </select>
                <input type="text" class="form-control " placeholder="Value" [readonly]="!selectedFilterCond" [(ngModel)]="filterConditionValue" (keyup)="onFilterValueChanged($event)" />

            </div>

        </div>
        <div class="col">
            <div class="btn-group" role="group">
                <button *ngFor="let command of packageCtrl.filterCommands" [disabled]="command.isDisabled === true || (command.isActive && command.isActive(packageCtrl)===false)" type="button" (click)="this[command.handler]()" [ngClass]="{'disabled':(packageCtrl.package_initialized !== true)}"
                    [class]="'btn btn-secondary ' + command.image" ngbTooltip="{{command.caption}}"></button>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col">
            <tag-input editable=false *ngIf="packageCtrl.filterItems.length !== 0" [(ngModel)]='packageCtrl.filterItems' [identifyBy]="'property'" hideForm=true (onSelect)="onSelectedFilterCond($event)"></tag-input>
        </div>
    </div>


    <BR>

    <div class="row ">
        <div class="col hor-scrollable">
            <span *ngIf="packageCtrl.package.filter_rows.length === 0"><i>&lt;no data fetched&gt;</i></span>
            <table *ngIf="packageCtrl.package.filter_rows.length !== 0" class="table table-hover table-striped table-bordered table-md " infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" [infiniteScrollContainer]="selector" (scrolled)="onScroll()">
                <thead class="thead-light " #tableheader>
                    <tr>
                        <th>#</th>
                        <th *ngFor="let p of packageCtrl.filterProperties ">{{p.property.propName}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of package.filter_rows; index as i " (click)="onSelectEntity(row)">
                        <td>{{i+1}}</td>
                        <td *ngFor="let p of packageCtrl.filterProperties ">
                            <div *ngIf="checkSize()" [ngClass]="{tdlabel: checkSize()}">{{p.property.propName}}:</div>
                            <div [ngSwitch]="packageCtrl.getInputType(p.property)" [ngClass]="{tdcontent: checkSize()}">
                                <div class="input-group" *ngSwitchCase="'date'" readonly="true">{{row[p.property.propName] | datefrm}}</div>
                                <div class="input-group" *ngSwitchCase="'checkbox'" readonly>
                                    <input class="form-control" type="checkbox" [checked]="row[p.property.propName]" readonly>
                                </div>
                                <div class="input-group" *ngSwitchDefault readonly="true">{{row[p.property.propName]}}</div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-11">
        </div>
        <div class="col">
            <button type="button" class="btn btn-link" *ngIf="packageCtrl.package.filter_rows.length !== 0" (click)="onScroll()"><i>load more...</i></button>
        </div>
    </div>
</div>