<div [@routerTransition] #rootdiv class="hosttable container-fluid" (window:resize)="onResize($event)">

    <div class="row">
        <!-- <div class="btn-toolbar" role="toolbar"> -->
        <div class="btn-group" role="group">
            <button *ngFor="let command of (package.filter.shellInfo.filter.commands)" [disabled]="command.isDisabled === true" type="button" (click)="packageCtrl[command.handler]()" [ngClass]="{'disabled':(packageCtrl.package_initialized !== true)}" [class]="command.primary ? 'btn btn-primary' : 'btn btn-secondary'">{{command.caption | translate}}</button>
        </div>
        <!-- </div> -->
    </div>

    <BR>
    <div class="row">
        <div class="col " style="overflow-x: auto; overflow-y: hidden; white-space: nowrap;">
            <div id=" detailsFilterArea " [ngbCollapse]="package.isDetailsFilterCollapsed ">

                <div *ngFor="let relation of (package.filter.entityInfo.relations) ">
                    {{relation}} filter:
                    <table class="table table-hover table-striped">

                        <thead>
                            <tr>
                                <th scope="col " *ngFor=" let property of packageCtrl.getRelationProperties(package.filter, relation,false) ">{{property.propName}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td *ngFor=" let property of packageCtrl.getRelationProperties(package.filter, relation,false) ">
                                    <input type="text" class="form-control " [(ngModel)]="package.filter_details[relation][property.propName] " placeholder="{{property.propName}}" />


                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <hr>
            </div>

        </div>
    </div>


    <BR>




    <div class="row ">
        <div class="col" style="overflow-x: auto; overflow-y: hidden; white-space: nowrap;">
            <table class="table table-hover table-striped table-bordered table-md ">
                <thead class="thead-light ">
                    <!-- <tr>
                        <th></th>
                        <th *ngFor="let property of packageCtrl.filterProperties ">
                            <input type="text " class="form-control " [(ngModel)]="package.filter[property.propName] " placeholder="{{property.propName}} " />
                        </th>
                    </tr> -->
                    <tr>
                        <th>#</th>
                        <th *ngFor="let property of packageCtrl.filterProperties ">{{property.propName}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of package.rows; index as i " (click)="onSelectEntity(row) ">
                        <td>{{i+1}}</td>
                        <td *ngFor="let property of packageCtrl.filterProperties ">
                            <div *ngIf="checkSize()" [ngClass]="{tdlabel: checkSize()}">{{property.propName}}:</div>
                            <div [ngSwitch]="packageCtrl.getInputType(property)" [ngClass]="{tdcontent: checkSize()}">
                                <div class="input-group" *ngSwitchCase="'date'">{{row[property.propName] | datefrm}}</div>
                                <div class="input-group" *ngSwitchCase="'checkbox'">
                                    <input class="form-control" type="checkbox" [checked]="row[property.propName]">
                                </div>
                                <div class="input-group" *ngSwitchDefault>{{row[property.propName]}}</div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>



    <BR>
    <div class="row justify-content-end " *ngIf="package.rows.length> 0">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item" [ngClass]="{'disabled':(package.row_current_page - 1) < 0}">
                    <a class="page-link" (click)="onPreviousPage()">Previous</a>
                </li>
                <li class="page-item" *ngFor="let page of package.row_pages; let i = index" [ngClass]="{'active':i===package.row_current_page}">
                    <a class="page-link" (click)="onSelectPage(i)">{{i+1}}</a>
                </li>
                <li class="page-item" [ngClass]="{'disabled':(package.row_current_page + 1) >= package.row_pages.length}">
                    <a class="page-link" (click)="onNextPage()">Next</a>
                </li>
            </ul>

        </nav>
    </div>


    <div class="row">
        <div class="col">
            <mat-form-field>
                <select matNativeControl required>
                  <option value="volvo">Volvo</option>
                  <option value="saab">Saab</option>
                  <option value="mercedes">Mercedes</option>
                  <option value="audi">Audi</option>
                </select>
            </mat-form-field>
            <!-- <div class="row">
                <div class="col s12 l6">
                    <ngx-select-dropdown [config]="dropdownSettings" [options]="packageCtrl.filterProperties" [(ngModel)]="selectedValue" [multiple]="false">
                    </ngx-select-dropdown>
                </div>
            </div> -->
        </div>
    </div>



</div>