.hosttable {
    --screensize: ;
}

.hor-scrollable {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}


/* .ver-scrollable {
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
} */

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    /* Force table to not be like tables anymore */
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tr {
        border: 1px solid #ccc;
    }
    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        white-space: nowrap;
        padding: 1px;
    }
    table {
        display: block;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    /*
	Label the data
    */
    .hosttable {
        --screensize: sm;
    }
    .tdlabel {
        width: 30%;
        display: inline-block;
        margin: 0;
        font-size: 7;
        font-style: italic;
        vertical-align: top;
    }
    .tdcontent {
        width: 70%;
        display: inline-block;
        margin-left: 0%;
        vertical-align: top;
        padding: 0;
        font-size: 7;
    }
}