<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>Notebook</h1>
            <form role="form" autocomplete="on">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="domain" name="txtDomain" class="form-control input-underline input-lg" placeholder="domain" autocomplete="on">
                    </div>

                    <!-- <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="" placeholder="Password">
                    </div> -->
                </div>
                <!-- <a class="btn rounded-btn" (click)="signInWithFB()">Faceboook login</a> &nbsp; -->
                <a (click)="signInWithGoogle()" style="cursor: pointer;">
                    <img src="assets/images/google_login.png" width="250px" height="45px" />
                </a> &nbsp;

                <!-- <a class="btn rounded-btn" href="/login/google">Register</a>

                <a class="btn rounded-btn" [routerLink]="['/dashboard']"> Log in </a> -->
            </form>
        </div>
    </div>
</div>