<!doctype html>
<html lang="en">
<img src="/assets/images/logo.png" width="150px" />
<h1>Notebook - Error</h1>
<h3>Unauthorized access</h3>
<h3>
    <%= error %>
</h3>
<a href="/login">Go to login</a>

</html>